---
import Layout from '../layouts/Layout.astro';
import VisualizationPage from '../components/visualization/VisualizationPage';
---

<Layout title="Visualization">
  <main>
    <VisualizationPage client:load />
  </main>
</Layout> 